<div class="container-fluid">

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Jobs</span>
                    <span class="info-box-number">
                        100

                    </span>
                </div>

            </div>

        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Successful Jobs</span>
                    <span class="info-box-number">99</span>
                </div>

            </div>

        </div>



        <div class="clearfix hidden-md-up">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-down"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Failed Jobs</span>
                        <span class="info-box-number">1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Long Running Jobs</span>
                    <span class="info-box-number">4</span>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Monthly Recap Report</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Separated link</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-center">
                                <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                            </p>

                            <div class="chart">

                                <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Goal Completion</strong>
                            </p>

                            <div class="progress-group">
                                Add Products to Cart
                                <span class="float-right"><b>160</b>/200</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" style="width: 80%"></div>
                                </div>
                            </div>


                            <div class="progress-group">
                                Complete Purchase
                                <span class="float-right"><b>310</b>/400</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger" style="width: 75%"></div>
                                </div>
                            </div>


                            <div class="progress-group">
                                <span class="progress-text">Visit Premium Page</span>
                                <span class="float-right"><b>480</b>/800</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" style="width: 60%"></div>
                                </div>
                            </div>


                            <div class="progress-group">
                                Send Inquiries
                                <span class="float-right"><b>250</b>/500</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" style="width: 50%"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-success"><i class="fas fa-caret-up"></i>
                                    17%</span>
                                <h5 class="description-header">$35,210.43</h5>
                                <span class="description-text">TOTAL REVENUE</span>
                            </div>

                        </div>

                        <div class="col-sm-3 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i>
                                    0%</span>
                                <h5 class="description-header">$10,390.90</h5>
                                <span class="description-text">TOTAL COST</span>
                            </div>

                        </div>

                        <div class="col-sm-3 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-success"><i class="fas fa-caret-up"></i>
                                    20%</span>
                                <h5 class="description-header">$24,813.53</h5>
                                <span class="description-text">TOTAL PROFIT</span>
                            </div>

                        </div>

                        <div class="col-sm-3 col-6">
                            <div class="description-block">
                                <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i>
                                    18%</span>
                                <h5 class="description-header">1200</h5>
                                <span class="description-text">GOAL COMPLETIONS</span>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row">

        <div class="col-md-8">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">US-Visitors Report</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body p-0">
                    <div class="d-md-flex">
                        <div class="p-1 flex-fill" style="overflow: hidden">

                            <div id="world-map-markers" style="height: 325px; overflow: hidden">
                                <div class="map"></div>
                            </div>
                        </div>
                        <div class="card-pane-right bg-success pt-2 pb-2 pl-4 pr-4">
                            <div class="description-block mb-4">
                                <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                                <h5 class="description-header">8390</h5>
                                <span class="description-text">Visits</span>
                            </div>

                            <div class="description-block mb-4">
                                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                <h5 class="description-header">30%</h5>
                                <span class="description-text">Referrals</span>
                            </div>

                            <div class="description-block">
                                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                <h5 class="description-header">70%</h5>
                                <span class="description-text">Organic</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>




            <div class="card">
                <div class="card-header border-transparent">
                    <h3 class="card-title">Currently failing jobs</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Job Name</th>
                                    <th>Server Name</th>
                                    <th>Last Execution Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ImportChhaPatients_Extended_SOP137</td>
                                    <td>TELXINTEG01</td>
                                    <td><span class="badge badge-success">Sucessful</span></td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Payer_NY_2568_Americare_ImportFiles_SOP143</td>
                                    <td>TELXINTEG01</td>
                                    <td><span class="badge badge-success">Sucessful</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ImportPatientPersonalTouch_SOP196</td>
                                    <td>TELXINTEG02</td>
                                    <td><span class="badge badge-danger">Failed</span></td>



                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>ExportBillingFileV2_Americare</td>
                                    <td>TELXINTEG01</td>
                                    <td><span class="badge badge-success">Successful</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>ExportAllBilledVisits_RevivalHCHB</td>
                                    <td>TELXINTEG01</td>
                                    <td><span class="badge badge-danger">Failed</span></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>CheckMetroJewishPatientFile</td>
                                    <td>TELXINTEG02</td>
                                    <td><span class="badge badge-success">Successful</span></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>ChhaMasterweekExport</td>
                                    <td>TELXINTEG01</td>
                                    <td><span class="badge badge-danger">Failed</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="card-footer clearfix">
                    <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Failing Jobs</a>
                </div>

            </div>

        </div>



        <div class="col-md-4">


            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Serverwise Job Status</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="chart-responsive">
                                <canvas id="pieChart" height="150"></canvas>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <ul class="chart-legend clearfix">
                                <li><i class="far fa-circle text-danger"></i> Successful</li>
                                <li><i class="far fa-circle text-success"></i> Failed</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="card-footer bg-white p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                TELXINTEG01

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                TELXINTEG02

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                TELXINTEG04

                            </a>
                        </li>
                    </ul>
                </div>

            </div>



            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Recently Created Jobs</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body p-0">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                        <li class="item">
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Job Name
                                    <span class="badge badge-success float-right">Successful</span></a>
                                <span class="product-description">
                                    Server Name
                                </span>
                            </div>
                        </li>
                        <li class="item">

                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Job Name
                                    <span class="badge badge-danger float-right">
                                        Failed
                                    </span></a>
                                <span class="product-description">
                                    Surver Name.
                                </span>
                            </div>
                        </li>

                        <li class="item">

                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    Job Name <span class="badge badge-danger float-right">
                                        Failed
                                    </span>
                                </a>
                                <span class="product-description">
                                    Server Name.
                                </span>
                            </div>
                        </li>

                        <li class="item">

                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Job Name
                                    <span class="badge badge-success float-right">Successful</span></a>
                                <span class="product-description">
                                    Server Name
                                </span>
                            </div>
                        </li>

                    </ul>
                </div>



            </div>

        </div>

    </div>

    <div class="card">
        <div class="card-header border-transparent">
            <h3 class="card-title">Import job backlogs</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Customer Name</th>
                            <th>No of Files</th>
                            <th>Last Execution Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ImportChhaPatients_Extended_SOP137</td>
                            <td>TELXINTEG01</td>
                            <td><span class="badge badge-success">Sucessful</span></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Payer_NY_2568_Americare_ImportFiles_SOP143</td>
                            <td>TELXINTEG01</td>
                            <td><span class="badge badge-success">Sucessful</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ImportPatientPersonalTouch_SOP196</td>
                            <td>TELXINTEG02</td>
                            <td><span class="badge badge-danger">Failed</span></td>



                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ExportBillingFileV2_Americare</td>
                            <td>TELXINTEG01</td>
                            <td><span class="badge badge-success">Successful</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>ExportAllBilledVisits_RevivalHCHB</td>
                            <td>TELXINTEG01</td>
                            <td><span class="badge badge-danger">Failed</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>CheckMetroJewishPatientFile</td>
                            <td>TELXINTEG02</td>
                            <td><span class="badge badge-success">Successful</span></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>ChhaMasterweekExport</td>
                            <td>TELXINTEG01</td>
                            <td><span class="badge badge-danger">Failed</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="card-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Failing Jobs</a>
        </div>

    </div>

</div>
</div>